{% extends 'base.html' %}

{% block title %}Cadastro de Usuário{% endblock %}

{% block content %}
<h2>Cadastro de Usuário</h2>
<form method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email }}
        {{ form.email.errors }}
    </div>
    <div class="form-group">
        Nome:
        {{ form.name }}
        {{ form.name.errors }}
    </div>
    <div class="form-group">
        Senha:
        {{ form.password }}
        {{ form.password.errors }}
    </div>
    <div class="form-group">
        Contas
        {{ form.accounts }}
        {{ form.accounts.errors }}
    <button type="submit" class="btn btn-primary">Cadastrar</button>
</form>
{% endblock %}