{% extends "base.html" %}

{% block title %}Listar Contas{% endblock %}

{% block content %}
<h2>Lista de Contas</h2>
<table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Ativo</th>
        </tr>
    </thead>
    <tbody>
        {% for account in accounts %}
        <tr>
            <td>{{ account.name }}</td>
            <td>
                <form method="post" style="display:inline;">
                    {% csrf_token %}
                    <input type="hidden" name="account_id" value="{{ account.id }}">
                    <input type="checkbox" onchange="this.form.submit();" {% if account.active %}checked{% endif %}>
                </form>
            </td>
            <td>
               
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'account_create' %}" class="btn btn-primary">Criar Nova Conta</a>
{% endblock %}