{% extends "base.html" %}

{% block title %}Listar Arvores Plantadas{% endblock %}

{% block content %}
<h2>Lista de Arvores Plantadas</h2>
<table>
    <thead>
        <tr>
            <th>Arvore</th>
            <th>Plantio em</th>
        </tr>
    </thead>
    <tbody>
        {% for planted_tree in planted_trees %}
        <tr>
            <td>{{ planted_tree.tree.name }}</a></td>
            <td>{{ planted_tree.planted_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="{% url 'menu_user' %}" class="btn btn-secondary">Voltar</a>
{% endblock %}